.load__cents {
  margin: 15px 0;
  display: flex;
  gap: 10px;
  &--item {
    box-shadow: 0px 2px 10px -6px #357375;
    border: 1px solid #e1d6d6;
    padding: 20px 0;
    background: white;
    flex: 1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    .load-cents__center {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin-right: 20px;
        font-size: 20px;
        color: #464545;
      }
      p {
        font-weight: bold;
        font-size: 1.1rem;
      }
      span {
        font-size: 0.9rem;
        color: #464545;
      }
    }
    &:hover {
      background: #e7e3e3;
    }
  }
}
.popup-payment {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 31;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    border-bottom: 2px solid #e7e3e3;
    padding: 0;
    margin: 0;
  }

  &__center {
    border-radius: 5px;
    background: white;
    width: 50%;
    padding: 30px;
    position: relative;
    &--popup {
      position: relative;
      width: 100%;
      .popup__coppy {
        position: absolute;
        top: -150px;
        transition: 0.8s;
        left: 43%;
        span {
          border-radius: 50px;
          background: #38b553;
          padding: 10px 10px;
          color: white;
          font-size: 1.2rem;
        }
      }
      .wallet {
        margin-top: 20px;
        color: #464545;
      }
      .imageMb {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-right: -75px;
        margin-left: -75px;
        .wrap {
          flex-wrap: wrap;
        }
        div {
          display: flex;
          justify-content: center;
          gap: 10px;
          width: 200px;
          .block_image {
            cursor: pointer;
            border: 2px solid white;
            border-radius: 5px;
            background: #e7e3e3;
            height: 50px;
            img {
              width: 50%;
              height: 100%;
              object-fit: scale-down;
              object-position: center;
            }
          }
          .image-active {
            border: 2px solid rgb(255, 153, 0);
          }
        }
      }
      .coin__money {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid white;
        &--item {
          cursor: pointer;
          width: 23%;
          .top {
            border-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 60px;
            background: #e1d6d6;
            display: flex;
            justify-content: center;
            align-items: center;
            .coin__500 {
              display: flex;
              img {
                width: 16px;
                height: 16px;
              }
            }
            .add_coin {
              color: #df9100;
              margin-top: 5px;
              font-size: 1.1rem;
              font-weight: 500;
            }
          }
          .bottom {
            height: 20px;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffb01e;

            span {
              text-decoration: underline;
              text-indent: 5px;
            }
          }
        }
        .coin-active {
          border: 1px solid #ffb01e;
          border-radius: 5px;
        }
      }
      .coin__button {
        display: flex;
        border-top: 1px solid #e7e3e3;
        margin-top: 5px;
        gap: 10px;
        &--cancel,
        &--continous {
          margin-top: 20px;
          width: 50%;
          text-align: center;
          padding: 10px 0;
          border-radius: 3px;
          cursor: pointer;
        }
        &--cancel {
          border: 1px solid #e7e3e3;
        }
        &--continous {
          background: #357376;
          color: white;
        }
        &--cancel:hover {
          border: 1px solid black;
        }
        &--continous:hover {
          opacity: 0.8;
        }
      }
      .popup_request {
        text-align: center;
        i {
          font-size: 50px;
          color: #38b553;
          margin-top: 10px;
        }
        h1 {
          margin-top: 10px;
        }
        p {
          color: #4a4a4a;
          margin-top: 10px;
          margin-bottom: 50px;
          font-size: 20px;
        }
        .popup_btn {
          border-top: 2px solid #e7e3e3;
          button {
            width: 100%;
            margin-top: 10px;
            background: #357376;
            color: white;
            border: none;
            border-radius: 3px;
            padding: 10px 0;
            font-size: 1.1rem;
            cursor: pointer;
          }
          button:hover {
            background: #1b676b;
          }
        }
      }
    }
  }
  .popup__scroll {
    overflow-y: scroll;
    height: 80vh;
  }
  .card__popup {
    height: 40vh !important;
  }
}
.popup_next {
  &--step1 {
    line-height: 50px;
    font-size: 1.1rem;
    .popup__input {
      margin-top: 10px;
      input {
        width: 100%;
        outline: 0;
        padding: 10px 3px;
        background: #e7e3e3;
        text-indent: 10px;
        border-radius: 5px;
        border: none;
      }
    }
    .search__container--active {
      box-shadow: 0px 0px 5px 0px #357375;
      border: 1px solid #357375;
    }
    .perform {
      display: flex;
      justify-content: space-between;
      color: #4a4a4a;
      font-size: 1.1rem;
      .coppy__popup {
        cursor: pointer;
      }
    }
    .qrcode {
      color: #4a4a4a;
      div {
        text-align: center;
      }
    }
  }
  &--step2 {
    font-size: 1.1rem;
    .note__popup {
      margin-top: 10px;
      color: #4a4a4a;
    }
    .upload__image {
      border: 1px dotted #357376;
      text-align: center;
      border-radius: 3px;
      color: #357376;
      padding: 10px 3px;
      display: block;
      margin: 10px 0;
      #avatar {
        display: none;
      }
    }
    .upload__image:hover {
      background: #e7e3e3;
    }
  }
}
