.carousel {
  width: 100%;
  height: 382px;
  border-radius: 5px;
  overflow: hidden;
  .carousel__annimation {
    display: flex;
    height: 100%;
    transition: 0.9s;
    .carousel-item {
      flex-shrink: 0;
      a {
        width: 100%;
        img {
          width: 100%;
          height: 382px;
        }
      }
    }
  }
}

.img__active {
  width: 100%;
  height: 382px;
}
