//carousel
.carousel {
  width: 100%;
  height: 382px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  .carousel__annimation {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    .carousel-item {
      flex-shrink: 0;
      a {
        img {
          width: 100%;
          height: 382px;
        }
      }
    }
  }
}
.active {
  transition: 0.9s;
}

.img__active {
  height: 383px !important;
}

.notification {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #d1e6e7;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  position: relative;
  .notification__animation {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: 50px;
    .notification__item {
      flex-shrink: 0;
      font-size: 1.25rem;
      width: 100%;
      color: #296fa8;
    }
  }
  .notification__bell {
    color: hsl(207, 61%, 41%);
    font-size: 1.25rem;
    background: #d1e6e7;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search {
  .search__container {
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    min-height: 50px;
    max-height: 100vh;
    .search__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 12;
      background: #f7f6f6;
      cursor: pointer;
      i {
        color: #b5b2b2;
        font-size: 1.25rem;
      }
    }
    .search-input {
      width: 100%;
      border: none;

      outline: 0;
      padding: 15px 15px;
      box-sizing: border-box;
      font-size: 1.25rem;
      background: #f7f6f6;
      color: black;
      text-indent: 40px;
    }
    .close__icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        color: #296fa8;
        font-size: 1.25rem;
      }
    }
  }
  .search__container.search__container--active {
    border: 1px solid black;
    box-shadow: 2px 0px 12px 0px #357375;
  }
  .search__menu {
    position: absolute;
    background: #f7f6f6;
    margin-top: 3px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 99;
    span {
      line-height: 35px;
      font-size: 1.1rem;
      color: #727272;
      margin-left: 10px;
    }
    .search__menu--item {
      display: flex;
      padding: 15px 15px;
      border-top: 1px solid #e7e3e3;
      .menu__item--image {
        width: 60px;
        height: 90px;
        margin: 0 15px 0 0;
        img {
          width: 100%;
        }
      }
      .name__cate {
        p {
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0;
          padding: 0;
          color: black;
        }
        .menu__item--cate {
          display: flex;
          flex-wrap: wrap;
          .btn {
            margin: 10px 10px 0 0;
            padding: 5px 10px;
            border: none;
            background: #1eb553;
            color: white;
            font-size: 12px;
          }
          .btn__cate {
            background: #3e8ed0;
          }
        }
      }
    }
  }
}

.story {
  h1 {
    font-size: 2.25rem;
    color: #3c3c3c;
  }
}

.drag__story {
  overflow: hidden;
  position: relative;
  .drag__story--slider {
    width: 100%;
    display: flex;
    position: relative;
    top: 0;
    .story__slider--item {
      margin-right: 25px;
      position: relative;
      .btn__vip {
        padding: 3px 5px;
        background: #f5f593;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        font-size: 12px;
        cursor: pointer;
      }
      a {
        .image__story {
          width: 200px;
          height: 300px;
          img {
            width: 100%;
            border-radius: 5px;
          }
        }
        .hover__story {
          position: absolute;
          width: 200px;
          height: 300px;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.3s;
          border-radius: 5px;
          background: rgba(54, 54, 54, 0.9);
          .hover__story--name {
            color: white;
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 50px;
          }
          span {
            text-align: center;
            padding: 4px 6px;
            background: white;
            color: #605e5e;
            text-transform: capitalize;
            font-size: 13px;
            border-radius: 3px;
          }
          .border-top {
            border-top: 1px solid white;
            width: 60px;
            margin-left: 10px;
          }
          .discount__story {
            color: white;
            font-size: 1.1rem;
            line-height: 25px;
          }
        }
      }
    }
    .story__slider--item:hover .hover__story {
      opacity: 1;
    }
  }
}

.main__content {
  display: flex;
  .story__newupdate {
    width: 75%;
    h1 {
      text-transform: capitalize;
      color: #3c3c3c;
    }
  }
  .story__full {
    width: 25%;
    h1 {
      text-transform: capitalize;
      color: #3c3c3c;
    }
    .full-story {
      background: white;
      border-radius: 5px;
      .full__story--list {
        .full__story--item {
          padding: 15px;
          display: block;
          border-bottom: 1px solid #e7e3e3;
          .name__story {
            margin: 0;
            color: black;
            margin-bottom: 10px;
            font-size: 1.4rem;
            text-transform: capitalize;
          }
        }
        .full__story--item:hover {
          background: #f5f5f5;
        }
      }
    }
  }
}

.btn__vip {
  background: #ffe08a !important;
  text-transform: uppercase !important;
  font-weight: bold;
  color: black !important;
}
.btn__full {
  text-transform: uppercase !important;
  background-color: #1eb553 !important;
}

.cate {
  margin: 0 5px 5px 0;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  background: #3e8ed0;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}

.list__story--newupdate {
  background: white;
  border-radius: 5px;
  margin-right: 25px;
  .item__story--newupdate {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #e7e3e3;
    .image__story {
      width: 60px;
      height: 90px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .story__newupdate--right {
      display: flex;
      .name__story {
        text-transform: capitalize;
        width: 30%;
        a {
          color: #357376;
          font-size: 1.25rem;
          font-weight: bold;
          position: relative;
        }
        p {
          color: #3c3c3c;
          margin: 0;
          margin-top: 5px;
        }
        a:hover {
          color: black;
        }
      }

      .chapter__story {
        width: 35%;
        a {
          margin: 0;
          text-transform: capitalize;
          color: #357376;
          cursor: pointer;
          font-size: 1.25rem;
        }
        a:hover {
          color: black;
        }
        p {
          margin: 0;
          font-size: 1.1rem;
          margin-top: 5px;
          color: #302f2f;
        }
      }
    }
  }
}

.cate__story {
  a {
    margin: 0 5px 5px 0;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    background: #3e8ed0;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
  }
  a:hover {
    text-decoration: underline;
  }
}
