.personal {
  display: flex;
  .personal__left {
    width: 25%;
    margin-right: 20px;
    .name__person {
      text-align: center;
      margin-bottom: 10px;
      h3 {
        font-size: 2.25rem;
        font-weight: 300;
        margin: 0;
      }
      p {
        text-align: center;
        span {
          text-transform: capitalize;
        }
        .coin {
          border-radius: 50%;
          border: 1px solid black;
          padding: 0 3px;
          font-size: 10px;
          font-weight: bold;
          margin-right: 5px;
          margin-bottom: 2px;
        }
      }
    }
    .personal__left--list {
      .personal__item {
        padding: 10px 10px;
        border-radius: 3px;
        font-size: 1.1rem;
        text-transform: capitalize;
        color: black;
        display: flex;
        position: relative;
        i {
          flex: 1;
        }
        span {
          flex: 8;
        }
      }
      .personal__item:hover {
        background: rgb(219, 219, 219);
      }
      .active__personal {
        background: rgb(219, 219, 219);
        color: #357376;
      }
    }
  }
  .personal__right {
    width: 75%;
    .list__bookcase {
      display: flex;
      flex-wrap: wrap;
      margin: 20px -10px 0 -10px;
      .item__bookcase {
        width: 25%;
        .item {
          box-sizing: border-box;
          padding: 10px;
          position: relative;
          height: 100%;

          .height__full {
            height: 100%;
            padding: 0;
            background: white;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            overflow: hidden;
          }
          .image__bookcase {
            height: 120px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .title__book {
            padding: 10px;
            .name__book {
              font-size: 1.5rem;
              text-transform: capitalize;
              font-weight: bold;
              margin-bottom: 25px;
              color: black;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .save__chapter {
              position: absolute;
              bottom: 20px;
              right: 20px;
              color: #357376;
              font-size: 1rem;
              text-transform: capitalize;
            }
          }
          i.close {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 10px 13px;
            border-radius: 50%;
            background: pink;
            color: red;
            transition: 0.4s;
            opacity: 0;
          }
        }
      }

      .item__bookcase:hover i.close {
        opacity: 1;
      }
    }
    .drag__story {
      margin: 20px -10px 0 -10px;
      .drag__story--slider {
        flex-wrap: wrap;
        .story__slider--item {
          width: 20%;
          margin-right: 0;
          .btn__vip {
            left: 20px;
          }
          .image__story {
            width: 152px;
          }
          .hover__story {
            width: 152px;
            height: 100%;
            left: 10px;
            .hover__story--name {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 1.38rem;
            }
          }
        }
      }
    }
  }
}
