.header-cms {
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 12px 0px #969494;
  .header-screen {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      gap: 30px;
      .account-cms {
        .avatar {
          cursor: pointer;
          border-left: 1px solid rgb(194, 194, 194);
          padding-left: 20px;
          color: rgb(139, 139, 139);
        }
      }
      .icon-header {
        font-size: 18px;
        color: rgb(194, 194, 194);
      }
    }
  }
}

.ant-popover-inner {
  padding: 0 !important;
}
