.main-layout-cms {
  background: rgb(248, 246, 246);
  .top-main {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 24px;
      color: rgb(107, 105, 105);
    }
    .top-main__right {
      background: rgb(228, 228, 228);
      font-size: 18px;
      padding: 10px;
      border-radius: 5px;
      span {
        color: rgb(107, 105, 105);
      }
    }
  }
}
.screen-95 {
  width: 95%;
  margin: auto;
}
.add {
  background: #357376;
  margin-bottom: 20px;
}
#components-affix-demo-target .scrollable-container {
  height: 100px;
  overflow-y: scroll;
}
