.popover-noti {
  width: 250px;
  height: 300px;
  color: white;
  .top {
    background: #357376;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .main {
    .main-item {
      display: flex;
      padding: 10px;
      color: black;
      align-items: center;
      gap: 10px;
      .text-noti {
        p {
          color: rgb(163, 163, 165);
          font-size: 10px;
        }
        h3 {
          font-size: 14px;
          margin: 0;
          font-weight: 500;
        }
      }
    }
    .main-item:hover {
      background: #e3e4e4;
    }
  }
}
