@media screen and (max-width: 768px) {
  .screen-85 {
    width: 95% !important;
  }
  .header__left--cate,
  .header__left--list,
  .header__right {
    display: none;
  }
  .header__right--mobile {
    display: flex !important;
  }
  .main__content {
    display: block !important;
  }
  .story__newupdate {
    width: 100% !important;
    .list__story--newupdate {
      margin-right: 0 !important;
      .image__story {
        width: 120px !important;
        height: 130px !important;
      }
      .story__newupdate--right {
        display: block !important;
        .name__story {
          width: 100% !important;
        }
        .cate__story {
          width: 100% !important;
        }
        .chapter__story {
          width: 100% !important;
        }
      }
    }
  }

  .story__full {
    width: 100% !important;
  }
  .cate-content {
    .list__story--newupdate {
      margin-right: 0 !important;
      .image__story {
        height: 130px !important;
      }
      .story__newupdate--right {
        display: block !important;
        .name__story {
          width: 100% !important;
        }
        .cate__story {
          width: 100% !important;
        }
        .chapter__story {
          width: 100% !important;
        }
      }
    }
  }
  .header__story {
    display: block !important;
    .header__story--left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0 !important;
      .header__story--image {
        width: 200px !important;
      }
    }
    .header__story--right {
      margin-top: 10px !important;
      .header__stoty--read {
        display: block !important;
        button {
          width: 100% !important;
        }
      }
    }
  }
  .main__story {
    display: block !important;
    .story__comment {
      margin-left: 0 !important;
      margin-top: 20px !important;
    }
    .main__story--chapter {
      span {
        right: 8px !important;
      }
    }
  }
}

body {
  background-color: #e7e3e3;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.mr-5 {
  margin-right: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-20 {
  margin-top: 20px;
}
.pt-20 {
  padding-top: 20px;
}

main {
  margin-top: 60px;
  padding: 60px 0 60px 0;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.screen-85 {
  width: 85%;
  margin: auto;
}
.btn {
  padding: 10px 15px;
  background: #357376;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
}
.btn:hover {
  opacity: 0.9;
}
.btn__user--register {
  margin-right: 10px;
  color: white;
}
.btn__user--login {
  background: #edeaea;
  color: rgba(0, 0, 0, 0.7);
}

p,
h1 {
  margin: 0;
}
.bg-blue {
  background-color: #3e8ed0 !important;
}
.boder-right {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.boder-left {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bg-primary {
  background-color: #357376 !important;
}

.bg-vip {
  background-color: #ffe08a !important;
  color: black !important;
}
