.screen-80 {
  width: 80%;
  margin: auto;
}

.header__chapter {
  .name__story {
    text-align: center;
    a {
      color: #3e8ed0;
      font-size: 2rem;
      font-weight: bold;
    }
    a:hover {
      color: #145992;
    }
  }
  .info__chapter {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 20px 0;
  }
}

.next__prev--chapter {
  text-align: center;
  margin-bottom: 40px;
  .next__chapter,
  .prev__chapter {
    padding: 8px 10px;
    background: white;
    color: #363636;
    margin-right: 5px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
  }
  .forbidden__chapter {
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid #cbcbcb !important;
  }
  a:hover {
    border: 1px solid #363636;
  }
}

.content__chapter {
  background: white;
  margin-bottom: 40px;
  color: #525252;
  .main__content {
    padding: 20px;
    font-size: 1.2rem;
    line-height: calc(1.2rem * 100 / 75);
    display: block;
  }
}
.setting__chapter {
  width: 60px;
  background: white;
  position: fixed;
  top: 30vh;
  left: 0;
  border-radius: 3px;
  .setting,
  .change__story,
  .list__chapter,
  .tick__chapter,
  .prev__chapter,
  .next__chapter {
    text-align: center;
    margin-bottom: 5px;
    i {
      padding: 15px;
      font-size: 1.3rem;
      cursor: pointer;
      border-radius: 3px;
    }
    i:hover {
      background: #ece7e7;
    }
  }
  .setting {
    i {
      margin-top: 10px;
    }
  }
  .next__chapter {
    i {
      margin-bottom: 10px;
    }
  }
  .forbidden {
    i {
      opacity: 0.5;
      cursor: not-allowed;
      background: white;
    }
  }
}

.main__setting {
  background: white;
  width: 300px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: fixed;
  top: 30vh;
  left: 0;
  .setting__close {
    display: flex;
    i {
      padding: 15px 18px;
      font-size: 1.3rem;
      cursor: pointer;
      border-radius: 3px;
      margin: 10px 10px 0 10px;
    }
    i:hover {
      background: #ece7e7;
    }
    p {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .interfce {
    display: flex;
    justify-content: space-between;
    .name {
      font-size: 1.5rem;
      margin: 5px 30px 0 20px;
      font-weight: 500;
    }
    div {
      margin-right: 10px;
      i {
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        border: 3px solid rgb(109, 108, 108);
        margin-right: 10px;
      }
      i.light {
        padding: 8px 10px;
      }
      .active__theme {
        border: 3px solid #3e8ed0;
      }
    }
  }
  .fontsize-container {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    p {
      font-size: 1.5rem;
      margin: 10px 80px 0 20px;
      font-weight: 500;
    }
    div {
      display: flex;
      margin-right: 10px;
      .fontsize__up,
      .fontsize__down {
        padding: 15px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
      }
      .fontsize__down:hover,
      .fontsize__up:hover {
        background: #ece7e7;
      }
    }
  }
}

.popup__list__container {
  position: absolute;
  top: 0;
  width: auto;
  height: 100vh;
  background: white;
  z-index: 32;
  transition: 0.3s;
  overflow-y: scroll;
  .header__list {
    background: white;
    .list {
      padding: 15px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .sort__search {
      display: flex;
      button {
        width: 40px;
        height: 40px;
        background: white;
        border: 1px solid #d7d3d3;
        border-radius: 3px;
        margin-right: 5px;
        margin-left: 10px;
        cursor: pointer;
      }
      button:hover {
        border: 1px solid rgb(61, 61, 61);
      }
      .search {
        .search__container {
          min-height: 40px;
          .search__icon {
            width: 40px;
            height: 40px;
          }
          input {
            padding: 8px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .main__list {
    background: #e7e3e3;
    margin-top: 10px;
    .main__item {
      display: block;
      padding: 10px;
      position: relative;
      color: #525252;
      border-bottom: 1px solid #d6d5d5;
      .item__name__number {
        font-size: 1.25rem;
        margin-bottom: 5px;
        .number {
          font-weight: 500;
        }
      }
      i {
        font-size: 1.1rem;
      }
      .money,
      .bought {
        position: absolute;
        top: 20px;
        right: 15px;
        background: #ffe08a;
        color: #525252;
        text-transform: uppercase;
        font-size: 14px;
        padding: 3px 5px;
        border-radius: 3px;
      }
      .bought {
        background: forestgreen;
        i {
          color: white;
          font-size: 14px;
        }
      }
    }
    .active {
      color: #3e8ed0;
    }
  }
  .footer__list {
    position: sticky;
    bottom: 0;
    z-index: 33;
    background: white;
    height: 130px;
    .next__prev {
      padding: 15px;
      text-align: center;
      button {
        font-size: 1.25rem;
        background: white;
        width: 142px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #c5c5c5;
        cursor: pointer;
      }
      .footer__list--prev {
        margin-right: 10px;
      }
      button:hover {
        border: 1px solid #9f9f9f;
      }
      .forbidden {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.popup__chapter {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(10, 10, 10, 0.86);
  z-index: 31;
  display: flex;
  .popup__chapter--left {
    width: 25%;
    height: 100%;
  }
  .popup__chapter--right {
    width: 75%;
    height: 100%;
  }
}

.search__chapter--active {
  border: 1px solid black;
  box-shadow: 0px 0px 5px 0px #357375;
}

.box__vip {
  padding: 20px;
  .chapter-vip {
    border-radius: 5px;
    background: #ffe08a;
    color: rgba(0, 0, 0, 0.7);
    .content__check {
      padding: 20px;
      line-height: 30px;
    }
    .buy__chapter {
      margin-bottom: 10px;
      .btn-chapter,
      .btn-coin {
        background: #357376;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 3px;
        color: white;
        margin-right: 10px;
        cursor: pointer;
      }
      .btn-coin {
        background: #3e8ed0;
      }
      .btn-chapter:hover {
        background: #236e6b;
      }
      .btn-coin:hover {
        background: #286faa;
      }
    }
    .qa-buy {
      padding-bottom: 20px;
      button {
        background-color: #fff;
        border: 1px solid white;
        color: #363636;
        white-space: nowrap;
        padding: 10px;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 3px;
      }
      button:hover {
        border: 1px solid #363636;
      }
    }
  }
}

.error_chapter {
  background: #d1415a;
  border-radius: 50px;
  padding: 10px;
  color: white;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  margin-left: 400px;
  transition: 0.5s;
}
